@font-face {
  font-family: "iconfont"; /* Project id 4972522 */
  src: url('iconfont.woff2?t=1754882733465') format('woff2'),
       url('iconfont.woff?t=1754882733465') format('woff'),
       url('iconfont.ttf?t=1754882733465') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e6c1";
}

.icon-fuzhi:before {
  content: "\e601";
}

.icon-shibai:before {
  content: "\e631";
}

.icon-chenggong:before {
  content: "\e671";
}

.icon-code-s-slash-fill:before {
  content: "\e773";
}

.icon-clear:before {
  content: "\e600";
}

.icon-eye:before {
  content: "\e76c";
}

.icon-eye-off:before {
  content: "\e64a";
}

.icon-search1:before {
  content: "\e7da";
}

.icon-loading:before {
  content: "\e60f";
}

.icon-Forward:before {
  content: "\e614";
}

