@use "sass:map";
@use "./common/componentVar.scss" as *;
@use "./common/mixins.scss" as *;

@include b(checkbox) {
  @include set-component-var("checkbox", checkboxVars());
  display: inline-flex;
  align-items: center;
  // height: 32px;
  margin-right: 24px;
  cursor: pointer;
  &:hover {
    #{getVarName("checkbox", "border-color")}: var(
      #{getVarName("color", "primary")}
    );
  }
  @include s((checked, loading)) {
    #{getVarName("checkbox", "border-color")}: var(
      #{getVarName("color", "primary")}
    );
    #{getVarName("checkbox", "bg-color")}: var(
      #{getVarName("color", "primary")}
    );
    @include d(icon) {
      transform: scale(1);
    }
  }
  @include s((disabled)) {
    cursor: not-allowed;
    #{getVarName("checkbox", "border-color")}: var(
      #{getVarName("checkbox", "disabled-border-color")}
    );
    #{getVarName("checkbox", "bg-color")}: var(
      #{getVarName("checkbox", "disabled-bg-color")}
    );
    #{getVarName('checkbox', 'text-color')}: var(
      #{getVarName("checkbox", "disabled-text-color")}
    );
    #{getVarName("checkbox", "icon-color")}: var(
      #{getVarName("checkbox", "disabled-icon-color")}
    );
  }
  @include e(wrapper) {
    position: relative;
  }
  @include e(input) {
    position: absolute;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    height: 0;
    width: 0;
    opacity: 0;
    z-index: 1;
  }
  @include e(inner) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(#{getVarName("checkbox", "checkbox-size")});
    width: var(#{getVarName("checkbox", "checkbox-size")});
    border-radius: var(#{getVarName("checkbox", "checkbox-round")});
    border-width: 1px;
    border-style: solid;
    border-color: var(#{getVarName("checkbox", "border-color")});
    background-color: var(#{getVarName("checkbox", "bg-color")});
    color: var(#{getVarName("checkbox", "icon-color")});
    box-sizing: border-box;
    transition: 0.3s;
    @include d(icon) {
      transform: scale(0);
      transition: 0.3s;
    }
  }
  @include e(label) {
    margin-left: 0.75rem;
    line-height: 1.25rem;
    color: var(#{getVarName("checkbox", "text-color")});
    font-size: var(#{getVarName("checkbox", "font-size")});
  }
  @each $s in $sizes {
    @include m(size, $s) {
      #{getVarName("checkbox", "font-size")}: var(
        #{getVarName("font-size", $s)}
      );
      #{getVarName("checkbox", "size")}: var(
        #{getVarName("component-size", $s)}
      );
      #{getVarName("checkbox", "checkbox-size")}: var(
        #{getVarName("checkbox-size", $s)}
      );
      #{getVarName("checkbox", "checkbox-round")}: var(
        #{getVarName("checkbox-round", $s)}
      );
      @include d(icon) {
        #{getVarName("checkbox", "checkbox-icon-size")}: var(
          #{getVarName("checkbox-icon-size", $s)}
        );
      }
    }
  }
}
@each $type in $types {
  $classname: ".ue-checkbox--" + $type;
  #{$classname} {
    @include s((checked, loading)) {
      @include set-component-var("checkbox", checkboxVars($type), "type");
    }
    @include s((disabled)) {
      #{getVarName("checkbox", "border-color")}: var(
        #{getVarName("checkbox", "disabled-border-color")}
      );
      #{getVarName("checkbox", "bg-color")}: var(
        #{getVarName("checkbox", "disabled-bg-color")}
      );
      #{getVarName('checkbox', 'text-color')}: var(
        #{getVarName("checkbox", "disabled-text-color")}
      );
      #{getVarName("checkbox", "icon-color")}: var(
        #{getVarName("checkbox", "disabled-icon-color")}
      );
    }
  }
}
