@use "sass:map";
@use "./common/mixins.scss" as *;
@use "./common/componentVar.scss" as *;

@include b(drawer) {
  position: absolute;
  box-sizing: border-box;
  transition: 0.4s;
  transform: translate(0, 0);
  @include s((fixed-screen)) {
    height: 100%;
    // 弹性盒模型，内部滚动
    @include e(wrap, false) {
      display: flex;
      flex-direction: column;
      max-height: 100%;
    }
    @include e(content, false) {
      flex: 1;
      height: 0;
      display: flex;
    }
    @include e(render-content, false) {
      overflow-y: auto;
      width: 100%;
    }
  }
  @include m(placement, "right") {
    top: 0;
    bottom: 0;
    right: 0;
  }
  @include m(placement, "left") {
    top: 0;
    left: 0;
    bottom: 0;
  }
  @include m(placement, "top") {
    top: 0;
    left: 0;
    right: 0;
  }
  @include m(placement, "bottom") {
    bottom: 0;
    left: 0;
    right: 0;
  }
  @include e("wrap") {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    // width: 378px;
  }
  @include e("content") {
    padding: 0 24px 12px;
    word-break: break-word; // 强制换行
    font-size: var(#{getVarName("font-size", "sm")});
    flex: 1;
    line-height: 1.6;
    overflow-y: auto;
  }
  @include e("header") {
    padding: 20px 24px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include e("close") {
    cursor: pointer;
    opacity: 0.3;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  @include e("footer") {
    padding: 0 24px 20px;
    text-align: right;
  }
  @include e("title") {
    font-size: var(#{getVarName("font-size", "md")});
    margin: 0;
    white-space: nowrap;
    font-weight: 500;
  }
}

.ue-drawer-enter-from,
.ue-drawer-leave-to {
  opacity: 0;
  .ue-drawer--placement_left {
    transform: translateX(-100%);
  }
  .ue-drawer--placement_right {
    transform: translateX(100%);
  }
  .ue-drawer--placement_top {
    transform: translateY(-100%);
  }
  .ue-drawer--placement_bottom {
    transform: translateY(100%);
  }
}
.ue-drawer-enter-active,
.ue-drawer-leave-active {
  overflow: hidden;
  transition: 0.4s;
  .ue-drawer {
    opacity: 1;
  }
}
