@use "./common/mixins.scss" as *;

@include b(tooltip) {
  box-sizing: border-box;
  display: inline-block;
  $arrow-selector: #{& + "__arrow"};

  @include e(trigger) {
    position: relative;
  }
  @include e(content) {
    position: absolute;
    border-radius: 6px;
    z-index: 2000;
    padding: 5px 11px;
    font-size: 12px;
    line-height: 20px;
    min-width: 10px;
    color: #fff;
    background-color: var(--ue-tooltip-bg, rgba(0, 0, 0, 0.85));
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    $placements: (
      "top": "bottom",
      "bottom": "top",
      "left": "right",
      "right": "left",
    );
    @each $placement, $opposite in $placements {
      //   @debug $arrow-selector;
      //   @debug $placement;
      //   @debug $opposite;
      &[data-popper-placement^="#{$placement}"] > #{$arrow-selector} {
        #{$opposite}: -4.5px;

        &::before {
          @if $placement == top {
            border-bottom-right-radius: 2px;
          }
          @if $placement == bottom {
            border-top-left-radius: 2px;
          }
          @if $placement == left {
            border-top-right-radius: 2px;
          }
          @if $placement == right {
            border-bottom-left-radius: 2px;
          }
        }
      }
    }
    @each $placement,
      $adjacency
        in ("top": "left", "bottom": "right", "left": "bottom", "right": "top")
    {
      //   @debug $adjacency;
      &[data-popper-placement^="#{$placement}"] > {
        #{$arrow-selector}::before {
          border-#{$placement}-color: transparent !important;
          border-#{$adjacency}-color: transparent !important;
        }
      }
    }
  }
  @include m(theme, "light") {
    --ue-tooltip-bg: #fff;
    color: #303133;
  }
  @include m(theme, "dark") {
    --ue-tooltip-bg: rgba(0, 0, 0, 0.85);
    color: #fff;
  }
  @include e(arrow) {
    position: absolute;
    width: 9px;
    height: 9px;
    background: transparent;
    pointer-events: none;

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      background: var(--ue-tooltip-bg, rgba(0, 0, 0, 0.85));
      box-sizing: border-box;
      content: "";
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
