// 组件私有变量
@use "./function.scss" as *;

@function buttonVars($type: "") {
  $button: (
    // 默认
    "border-color":
      (
        "default": getVarName("border-color", "default"),
        "type": getVarName("color", $type),
      ),
    "text-color": (
      "default": getVarName("text-color", "default"),
      "type": getVarName("color", "white"),
    ),
    "bg-color": (
      "default": getVarName("bg-color", "default"),
      "type": getVarName("color", $type),
    ),
    "is-subtle-text-color": (
      "default": getVarName("text-color", "default"),
      "type": getVarName("color", $type),
    ),
    "is-subtle-bg-color": (
      "default": getVarName("color", "transparent"),
      "type": getVarName("color", "transparent"),
    ),
    "is-subtle-border-color": (
      "default": getVarName("color", "transparent"),
      "type": getVarName("color", "transparent"),
    ),
    "dashed-bg-color": (
      "default": getVarName("color", "white"),
      "type": getVarName("color", "white"),
    ),
    "is-link-text-color": (
      "default": getVarName("text-color", "default"),
      "type": getVarName("color", $type),
    ),
    "is-link-bg-color": (
      "default": getVarName("color", "transparent"),
      "type": getVarName("color", "transparent"),
    ),

    // 鼠标悬停
    "hover-border-color":
      (
        "default": getVarName("border-color", "default"),
        "type": getVarName("color", $type, "dark-1"),
      ),
    "hover-text-color": (
      "default": getVarName("color", "black"),
      "type": getVarName("color", "white"),
    ),
    "hover-bg-color": (
      "default": getVarName("bg-color", "hover-default"),
      "type": getVarName("color", $type, "dark-1"),
    ),
    "hover-is-link-color": (
      "default": getVarName("color", "black"),
      "type": getVarName("color", $type, "light-3"),
    ),
    "hover-is-subtle-color": (
      // 文本颜色
      "default": getVarName("color", "black"),
      "type": getVarName("color", $type, "light-9")
    ),
    "hover-is-subtle-text-color": (
      "default": getVarName("color", "black"),
      "type": getVarName("color", $type),
    ),
    "hover-is-subtle-bg-color": (
      "default": getVarName("bg-color", "hover-default"),
      "type": getVarName("color", $type, "light-9"),
    ),
    "hover-is-outline-bg-color": (
      "default": getVarName("bg-color", "hover-default"),
      "type": getVarName("color", $type, "light-9"),
    ),
    "hover-is-outline-border-color": (
      "default": getVarName("border-color", "default"),
      "type": getVarName("color", $type),
    ),
    "hover-is-link-text-color": (
      "default": getVarName("color", "black"),
      "type": getVarName("color", $type, "light-3"),
    ),
    // disabled
    "disabled-text-color":
      (
        "default": getVarName("color", "disabled"),
        "type": getVarName("color", "disabled"),
      ),
    "disabled-bg-color": (
      "default": getVarName("bg-color", "disabled"),
      "type": getVarName("bg-color", "disabled"),
    ),
    "disabled-border-color": (
      "default": getVarName("bg-color", "disabled"),
      "type": getVarName("bg-color", "disabled"),
    ),
    "disbaled-is-link-bg-color": (
      "default": getVarName("color", "transparent"),
      "type": getVarName("color", "transparent"),
    ),
    "size": (
      "default": getVarName("component-size", "sm"),
    ),
    "font-size": (
      "default": getVarName("font-size", "sm"),
    )
  );
  @return $button;
}

@function inputVars() {
  $input: (
    "border-color": (
      "default": getVarName("border-color", "default"),
    ),
    "text-color": (
      // icon和text都会用到
      "default": getVarName("text-color", "default"),
    ),
    "text-color-aside": (
      "default": getVarName("text-color", "light-2"),
    ),
    "placeholder-color": (
      "default": getVarName("text-color", "light-3"),
    ),
    "bg-color": (
      "default": getVarName("bg-color", "default"),
    ),
    "bg-color-aside": (
      "default": getVarName("bg-color", "aside"),
    ),
    "box-shadow-color": (
      "default": getVarName("box-shadow", "default"),
    ),
    "size": (
      "default": getVarName("component-size", "sm"),
    ),
    "font-size": (
      "default": getVarName("font-size", "sm"),
    ),
    // "icon-size": (
    //   "default": getVarName("icon-size", "sm"),
    // ),
    "round":
      (
        "default": getVarName("component-round", "sm"),
      ),
    "padding": (
      "default": getVarName("padding", "sm"),
    ),
    // hover
    "hover-border-color":
      (
        "default": getVarName("color", "primary"),
      ),
    // focus
    "focus-box-shadow":
      (
        "default": getVarName("box-shadow", "default"),
      ),
    // disabled
    "disabled-border-color":
      (
        "default": getVarName("border-color", "disabled"),
      ),
    "disabled-text-color": (
      "default": getVarName("text-color", "light-4"),
    ),
    "disabled-bg-color": (
      "default": getVarName("bg-color", "disabled-input"),
    ),
  );

  @return $input;
}

@function textareaVars() {
  $textarea: (
    "border-color": (
      "default": getVarName("border-color", "default"),
    ),
    "bg-color": (
      "default": getVarName("bg-color", "default"),
    ),
    "text-color": (
      "default": getVarName("text-color", "default"),
    ),
    "box-shadow-color": (
      "default": getVarName("box-shadow", "default"),
    ),
    "padding": (
      "default": getVarName("padding", "sm"),
    ),
    "round": (
      "default": getVarName("component-round", "sm"),
    ),
    "font-size": (
      "default": getVarName("font-size", "sm"),
    ),
    // hover
    "hover-border-color":
      (
        "default": getVarName("color", "primary"),
      ),
    // disabled
    "disabled-bg-color":
      (
        "default": getVarName("bg-color", "disabled"),
      ),
    "disabled-text-color": (
      "default": getVarName("text-color", "light-4"),
    ),
  );
  @return $textarea;
}

@function checkboxVars() {
  $checkbox: (
    "border-color": (
      "default": getVarName("border-color", "default"),
    ),
    "bg-color": (
      "default": getVarName("bg-color", "default"),
    ),
    "text-color": (
      "default": getVarName("text-color", "default"),
    ),
    "font-size": (
      "default": getVarName("font-size", "default"),
    ),
    // 组件尺寸
    "size":
      (
        "default": getVarName("component-size", "sm"),
      ),
    // 选择框尺寸
    "checkbox-size":
      (
        "default": getVarName("checkbox-size", "sm"),
      ),
    // 选择框圆角
    "checkbox-round":
      (
        "default": getVarName("checkbox-round", "sm"),
      ),
    // hover
    "hover-border-color":
      (
        "default": getVarName("color", "primary"),
      ),
    // disabled
    "disabled-border-color":
      (
        "default": getVarName("border-color", "disabled-checkbox"),
      ),
    "disabled-bg-color": (
      "default": getVarName("bg-color", "diabled-checkbox"),
    ),
    "disabled-text-color": (
      "default": getVarName("text-color", "light-4"),
    ),
  );
  @return $checkbox;
}
