@use "sass:map";
@use "./function.scss" as *;
@use "./var.scss" as *;

// 生成主题色
@mixin set-main-color() {
  @each $type in $types {
    $color: map.get($colors, $type, "base");
    #{createVarName(('color', $type))}: #{$color}; // --ue-color-primary
  }
}
// 生成层次色
@mixin set-main-light-color() {
  @each $type in $types {
    @for $i from 1 through 9 {
      $color: map.get($colors, $type, "light-" + $i);
      #{createVarName(('color', $type, 'light', $i))}: #{$color}; // --ue-color-primary-light-1
    }
  }
}

// 生成全局的属性
@mixin set-global-var() {
  @each $key, $value in $global {
    @if $value {
      @each $type, $v in $value {
        #{createVarName(($key, $type))}: #{$v}; // --ue-text-color-primary
      }
    }
  }
}

// 设置组件的变量
@mixin set-component-var($name, $var, $varKey: "default") {
  // button, buttonVars(), default
  @each $key, $val in $var {
    $varName: getVarName($name, $key); // --ue-button-border-color
    $val: map.get($var, $key, $varKey);
    @if ($val) {
      #{$varName}: var(#{$val});
    }
  }
}
