// 全局变量
@use "sass:map";
@use "sass:color";

$types: primary, success, warning, error;
// 主题色变更
$colors: () !default;
// 主题色
$colors: map.deep-merge(
  (
    "white": #ffffff,
    "black": #000000,
    "primary": (
      "base": #238be6,
    ),
    "warning": (
      "base": #fab007,
    ),
    "success": (
      "base": #15b886,
    ),
    "error": (
      "base": #fa5352,
    ),
  ),
  $colors
);
$color-primary: map.get($colors, "primary", "base");
$color-white: map.get($colors, "white");
$color-black: map.get($colors, "black");

// 生成主题层次色
@mixin set-light-color($type, $number, $mode, $mix-color) {
  $colors: map.deep-merge(
    (
      $type: (
        "#{$mode}-#{$number}":
          color.mix($mix-color, map.get($colors, $type, "base"), $number * 10%),
      ),
    ),
    $colors
  ) !global;
}
@each $type in $types {
  @for $i from 1 through 9 {
    @include set-light-color($type, $i, "light", $color-white);
    @include set-light-color($type, $i, "dark", $color-black);
  }
}
// @debug map.get($colors, "primary");

// 文字颜色
$text-color: () !default;
$text-color: map.deep-merge(
  (
    "default": $color-black,
    "white": $color-white,
    "primary": #303133,
    // regular text
    "light-1": #606266,
    // secondary text / aside text
    "light-2": #909399,
    // placeholder text
    "light-3": #bfbfbf,
    // disabled text
    "light-4": #bcbdc0,
  ),
  $text-color
);
// 字体大小
$font-size: () !default;
$font-size: map.deep-merge(
  (
    "sm": 0.875rem,
    "md": 1rem,
    "lg": 1.125rem,
    "xl": 1.25rem,
  ),
  $font-size
);
// 控件大小
$component-size: () !default;
$component-size: map.deep-merge(
  (
    "sm": 36px,
    "md": 42px,
    "lg": 50px,
    "xl": 60px,
  ),
  $component-size
);
$component-round: () !default;
$component-round: map.deep-merge(
  (
    "sm": 0.25rem,
    "md": 0.5rem,
    "lg": 1rem,
    "xl": 2rem,
    "round": 100px,
  ),
  $component-round
);
// 边框颜色
$border-color: () !default;
$border-color: map.deep-merge(
  (
    "default": #ced4da,
    "disabled": #e1e5e8,
  ),
  $border-color
);

$bg-color: () !default;
$bg-color: map.deep-merge(
  (
    "default": $color-white,
    "disabled": #f1f3f5,
    "hover-default": #f8f9fa,
    "disabled-input": #f7f7f9,
    "aside": rgba(0, 0, 0, 0.02),
  ),
  $bg-color
);
$color: () !default;
$color: map.deep-merge(
  (
    "white": $color-white,
    "black": $color-black,
    "transparent": transparent,
    "disabled": #acb5bd,
  ),
  $color
);

$box-shadow: () !default;
$box-shadow: map.deep-merge(
  (
    "default": none,
  ),
  $box-shadow
);
// 边距
$padding: () !default;
$padding: map.deep-merge(
  (
    "sm": 12px,
    "md": 14px,
    "lg": 16px,
    "xl": 18px,
  ),
  $padding
);

$icon-size: () !default;
$icon-size: map.deep-merge(
  (
    "sm": 1em,
    "md": 1.5em,
    "lg": 2em,
    "xl": 2.5em,
  ),
  $icon-size
);

$global: (
  // 颜色
  "color": $color,
  // 边框颜色
  "border-color": $border-color,
  // 文本颜色
  "text-color": $text-color,
  // 背景颜色
  "bg-color": $bg-color,
  // 字体大小
  "font-size": $font-size,
  // 组件尺寸
  "component-size": $component-size,
  // 组件圆角
  "component-round": $component-round,
  // input图标边距
  "padding": $padding,
  "box-shadow": $box-shadow,
  "icon-size": $icon-size
);
